.show-section .show-section-content {
  padding: .8rem 1.2rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  min-height: 50svh;
}

.show-section header {
  padding: .8rem 1.2rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid grey;
  background-color: #fff;


  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6rem
}

.show-section .show-section-content .show-skill-chip {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  background: white;
  margin: 4px 4px 0 0;
  font-size: 14px;

}